{% load i18n %}
{% if href %}
    <a href="{{ href }}" class="button{% if css_class %} {{ css_class }}{% endif %}"{% if title %} title="{{ title }}"{% endif %}{% if target %} target="{{ target }}"{% endif %}>
        {% if icon %}<i class="{{ icon }}"></i> {% endif %}
        {{ text|default:_("Submit") }}
    </a>
{% else %}
    <button type="{{ type|default:'button' }}" class="button{% if css_class %} {{ css_class }}{% endif %}"{% if name %} name="{{ name }}"{% endif %}{% if value %} value="{{ value }}"{% endif %}>
        {% if icon %}<i class="{{ icon }}"></i> {% endif %}
        {{ text|default:_("Submit") }}
    </button>
{% endif %}
